---
import { Image } from "astro:assets";
import LayoutWithHeaderAndFooter from "src/layouts/LayoutWithHeaderAndFooter.astro";

---

<LayoutWithHeaderAndFooter
  title="Page not found"
  image="https://httpgoats.com/404.webp">
  <Image
    src="https://httpgoats.com/404.webp"
    alt="Goat peering through a wooden door with the caption '404: not found'"
    width={1600}
    height={1400}
    format="webp"
    class="mx-auto p-2 rounded-2xl"/>
  <a
    href="/"
    class="self-center mt-2 bg-purple-600 transition ease-out delay-200 hover:-translate-y-1 hover:scale-105 hover:shadow-xl hover:bg-cyan-500 text-slate-100 rounded-xl p-2">
      Go home, you're drunk. <i class="las la-long-arrow-alt-right"></i>
  </a>
</LayoutWithHeaderAndFooter>