---
import BlogPostCard from "../components/BlogPostCard.astro";
import SearchInput from "../components/SearchInput";
import LayoutWithHeaderAndFooter from "../layouts/LayoutWithHeaderAndFooter.astro";
import { BlogUtils } from "../utils/blog-utils.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await BlogUtils.getPostsOrderedByDateDesc();
---

<LayoutWithHeaderAndFooter
  title="Blog posts"
  description="List of posts from snyssen's blog"
>
  <section class="max-w-screen-xl mx-auto my-4 px-2">
    <!-- <SearchInput client:idle /> -->
    <div class="flex flex-row items-center mb-4">
      <h1 class="text-4xl">All blog posts</h1>
      <span class="flex-1"></span>
      <a href="/rss.xml">
        <span class="sr-only">RSS feed for all blog posts</span>
        <i class="las la-rss text-4xl gradient-icon-link"></i>
      </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        posts && posts.length > 0 ? (
          posts.map((post) => <BlogPostCard post={post} />)
        ) : (
          <p>No post to show</p>
        )
      }
    </div>
  </section>
</LayoutWithHeaderAndFooter>
