---
import LayoutWithHeaderAndFooter from "../layouts/LayoutWithHeaderAndFooter.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<style>
	a {
		@apply bg-purple-600 text-slate-50 p-0.5 inline-block transition ease-out delay-200 hover:-translate-y-1 hover:scale-105 hover:bg-cyan-400;
	}
</style>

<LayoutWithHeaderAndFooter
	title="Blog posts"
	description="List of posts from snyssen's blog"
>
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<time datetime={post.frontmatter.pubDate}>
							{new Date(
								post.frontmatter.pubDate
							).toLocaleDateString("en-us", {
								year: "numeric",
								month: "short",
								day: "numeric",
							})}
						</time>
						<a href={post.url}>{post.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</LayoutWithHeaderAndFooter>
