---
import TextWithIcon from "../TextWithIcon.astro";

const props = Astro.props;
---

<TextWithIcon
  iconClasses="las la-external-link-alt text-sm"
  iconAltText="Icon representing an external link"
  isSuffix={true}
  spaced={true}
>
  <a {...props}>
    <slot />
  </a>
</TextWithIcon>
