---
import HeaderLink from "./HeaderLink.astro";
import DarkThemeSwitch from "./DarkThemeSwitch.astro";

const { pathname } = Astro.url;
const isBlogPost = pathname.startsWith("/blog");
---

<header
	class="flex flex-row overflow-x-auto w-full sticky top-0 bg-zinc-50 dark:bg-zinc-800 gap-x-2 p-1 md:p-2 xl:p-4 border-b border-b-gray-300 dark:border-b-gray-600"
>
	<nav class="flex flex-row min-w-fit gap-x-2">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog" forceActive={isBlogPost}>Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
	<DarkThemeSwitch />
</header>
