---
import TextWithIconPrefix from "./TextWithIconPrefix.astro";

export interface Props {
  iconClasses: string;
  iconAltText?: string;
  text: string;
  href: string;
}
const { iconClasses, iconAltText, href, text = href } = Astro.props;
---

<TextWithIconPrefix iconClasses={iconClasses} iconAltText={iconAltText}>
  <a href={href}>{text}</a>
</TextWithIconPrefix>
