---
export interface Props {
  title?: string;
  justifyText?: boolean;
}

const { title, justifyText = true } = Astro.props;
---

<div class="col-start-1 flex lg:justify-end">
  <h2 slot="title" class="text-right font-bold text-2xl">
    {title}
  </h2>
</div>
<div
  class:list={[
    { "text-justify": justifyText },
    "col-start-1 lg:col-start-2 lg:col-span-2 mb-2 prose prose-zinc dark:prose-invert prose-h1:mb-2 prose-h2:mt-0 prose-h2:mb-1 prose-h3:mt-0 prose-h4:mt-0 prose-p:mb-1 prose-li:m-0",
  ]}
>
  <slot />
</div>
