---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
    title: string;
    description: string;
    image: string;
}

let { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={image} />
        <style is:global>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;

            /* title font */
            @font-face {
                font-family: "There Brat Regular";
                font-style: normal;
                font-weight: normal;
                src: local("There Brat Regular"),
                    url("/fonts/ThereBrat-3zJlL.woff") format("woff");
            }

            /* serif font */
            @font-face {
                font-family: "Kaisei HarunoUmi";
                font-style: normal;
                font-weight: normal;
                src: local("Kaisei HarunoUmi Regular"),
                    url("/fonts/KaiseiHarunoUmi-Regular.woff") format("woff");
            }
            @font-face {
                font-family: "Kaisei HarunoUmi";
                font-style: normal;
                font-weight: bold;
                src: local("Kaisei HarunoUmi Bold"),
                    url("/fonts/KaiseiHarunoUmi-Bold.woff") format("woff");
            }

            /* sans font */
            @font-face {
                font-family: "Black Sans";
                font-style: normal;
                font-weight: normal;
                src: local("Black Sans Regular"),
                    url("/fonts/blacksansregularwebfontd6761cbf250866e8870d97f03fa629a8.woff")
                        format("woff");
            }
            @font-face {
                font-family: "Black Sans";
                font-style: normal;
                font-weight: bold;
                src: local("Black Sans Bold"),
                    url("blacksansboldwebfont949ef363c646d9c2456af9d67a94778f.woff")
                        format("woff");
            }
        </style>
        <slot name="extra-head" />
    </head>
    <!-- TODO: Probably set default background to full white for printing resume, then override on other pages (or the reverse? Only overwrite to full white for resume) -->
    <body
        class="min-h-screen text-slate-900 dark:text-slate-100 bg-white dark:bg-zinc-800 flex flex-col"
    >
        <slot />
    </body>
</html>
