---
import "../assets/css/fonts.css";
import "../assets/css/line-awesome.min.css";
import "../assets/css/global.css";
import BaseHead from "../components/BaseHead.astro";

export interface Props {
  title: string;
  description: string;
  image: string;
}

let { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="extra-head" />
  </head>
  <body
    class="min-h-screen text-slate-900 dark:text-slate-100 bg-white dark:bg-zinc-800 flex flex-col"
  >
    <slot />
  </body>
</html>
