---
import LayoutWithHeaderAndFooter from "./LayoutWithHeaderAndFooter.astro";
import ResumeSection from "../components/ResumeSection.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    image: string;
  };
}

const {
  content: { title, description, image },
} = Astro.props;
---

<LayoutWithHeaderAndFooter
  title={title}
  description={description}
  image={image}
>
  <article class="mx-auto p-2 md:p-6">
    <ResumeSection>
      <div class="flex flex-row items-center space-x-2">
        <div
          class="flex items-center justify-center w-14 h-14 select-none rounded-full bg-gradient-to-br from-cyan-400 via-purple-600 to-violet-400 text-slate-50 shadow-sm"
        >
          <span class="text-lg font-bold font-title text-amber-400">S N</span>
        </div>
        <div class="flex-1 flex flex-col items-center">
          <h1 class="text-3xl text-center">Simon Nyssen</h1>
          <h2 class="text-xl text-center">Full-stack developer</h2>
        </div>
        <a
          id="resume-download"
          href="/resume.pdf"
          rel="noopener noreferrer"
          aria-label="Download resume as PDF"
        >
          <i
            class="las la-download text-6xl bg-gradient-to-br from-cyan-400 via-purple-600 to-violet-400 bg-clip-text text-transparent drop-shadow-sm transition ease-out delay-200 hover:-translate-y-1 hover:scale-105 hover:drop-shadow-xl"
          ></i>
        </a>
      </div>
    </ResumeSection>
    <slot />
  </article>
</LayoutWithHeaderAndFooter>
